<div class="toolbar">
    <button routerLink="/screen" class="btn  rounded-pill ml-2">
       Homepage
    </button>
    <button routerLink="/app/cadastro-sorvete" class="btn rounded-pill ml-2">
       Sabores
    </button>
    <button routerLink="/app/cadastro-tipo-sorvete" class="btn rounded-pill ml-2">
       Tipo de Sorvete
    </button>
    <button routerLink="/app/montar-sorvete" class="btn rounded-pill ml-2">
       Montar sorvete
    </button>
    <button routerLink="/app/emitir-relatorio" class="btn rounded-pill ml-2">
       Relatório
    </button>
</div>

<router-outlet></router-outlet>