<div class="container">
  <h1 class="col-md-12 d-flex justify-content-center" style="color: black; margin-bottom: 30px;">Sorveteria</h1>

  <div class="button-container button-container-top">
    <button routerLink="/cadastro-sorvete" class="btn btn-outline-danger">Cadastro Sabores</button>
    <button routerLink="/cadastro-tipo-sorvete" class="btn btn-outline-danger">Cadastro de Tipo de Sorvete</button>
    <button routerLink="/montar-sorvete" class="btn btn-outline-danger">Montar Sorvete</button>
    <button routerLink="/emitir-relatorio" class="btn btn-outline-danger" (click)="emitirRelatorio()">Emitir
      Relatório</button>
  </div>
</div>