body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #4CAF50, #2196F3);
    background-image: url('/assets/img.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .container {
    text-align: center;
    color: rgba(202, 223, 18, 0.64);
    background-color: rgba(255, 255, 255, 0.5); /* 50% white transparency */
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .btn-outline-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
  }

  .btn-outline-danger:hover {
    color: #d9534f;
    background-color: #fff;
    border-color: #d9534f;
  }