<h1 style="color: black;">Sorveteria</h1>

<div class="button-container button-container-top">
  <button routerLink="/cadastro-sorvete" class="btn btn-outline-danger">Cadastro Sabores</button>
  <button routerLink="/cadastro-tipo-sorvete" class="btn btn-outline-danger">Cadastro de Tipo de Sorvete</button>
</div>

<div class="button-container button-container-bottom">
  <button routerLink="/montar-sorvete" class="btn btn-outline-danger">Montar Sorvete</button>
  <button class="btn btn-outline-danger" (click)="emitirRelatorio()">Emitir Relatório</button>
</div>
